html,body,h1,h2,h3,h4,h5,h6,td,th,dd,p,div,ol,ul,li {
    margin: 0;
    padding: 0;
}

body {
    font: 0.75em/1.5em 'Georgia','Verdana','Arial',sans-serif;
    color: #333;
    background: #ececec url('bg.gif') repeat 0 0;    
}

/***** public class settings ****/

h1 {
    font-size: 20px;
    line-height: 2em;
}
h2 {
    font-size: 14px;
    line-height: 2em;
}
h3 {
    font-size: 12px;
    line-height: 1.6em;
}
h4,h5,h6 {
    font-size: 12px;
    line-height: 1.5em;
}

input, textarea {
    font-size: 14px;
}

a:link, a:visited {
    color: #06c;
    text-decoration: none;
}
a:hover {
    color: #2f80d2;
}

a img {
  border: 0;
}

blockquote {
    color: #555;
    font-style: italic;
    font-size: 17px;
}

.clearfix:before,.clearfix:after {
    content:".";
    display:block;
    height:0;
    overflow:hidden;
}

.clearfix:after, .clear {
    clear:both;
}

.clearfix{
    zoom:1; /* IE < 8 */
}

.error-no-data {
    line-height: 1.6em;
}
.errors {
    clear: both;
    color: #e00;
}

#flashed {
    padding: 5px;
    color: #f60;
    background: #eeefce;
    text-align: center;
}

#go-to-top {
    display: block;
    position: fixed;
    right: 60px;
    bottom: 100px;
    padding: 18px;
    color: #666;
    background: #ddd;
    font: 36px/18px Helvetica,Arial,Verdana,sans-serif;
    opacity: 0.7;
    outline: 0 none;
    text-decoration: none;
    text-shadow: 0 0 1px #ddd;
    vertical-align: baseline;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
} 


#wrap {
    margin: auto;
}

#header {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 200px;
}
#header .inner {
    padding: 20px 0 20px 40px;
}
#header .desc {
    margin-bottom: 20px;
    color: #666;
}

#menu {
    position: absolute;
    right: 40px;
    top: 20px;
}


#nav li {
    list-style: none;
    line-height: 1.8em;
}

#container {
    padding: 2em;
    margin-left: 200px;
    min-width: 820px;
}
.content {
    float: left;
    padding: 10px 0;
    width: 600px;
}
.content h2 {
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
}
.sidebar {
    float: left;
    padding: 40px 0 0 40px;
    width: 180px;
}
.sidebar-module {
    margin-bottom: 20px;
}
.sidebar-module h3 {
    padding: 10px 0;
}
.sidebar-module ul li {
    list-style: none;
    padding: 5px 0;
    border-bottom: 1px dotted #ccc;
}
.sidebar-module-foot {
    padding: 10px 0;
}

.sidebar #search input.text {
    padding: 2px;
    width: 160px;
    border: 1px solid #ccc;
    background: #fff url('find.png') no-repeat right 50%;
}
.sidebar #tags li {
    display: inline;
    border: 0;
    padding-right: 10px;
}

#post-form input.text {
    width: 500px; 
}

#post-form textarea.text {
    width: 600px; 
    height: 300px;
}

/***** form *****/
.form h2 {
    margin-bottom: 12px;
}
.form-field {
    clear: both;
    padding: 5px 0;
}
.form-field label {
    display: block;
}
.form-field .text {
    padding: 2px;
    width: 200px;
}
.form-button {
    cursor: pointer;
    background: #EA4C89 url("glass-light.png") repeat-x scroll 0 50%;
    border: medium none;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
}
.form-button:hover, .form-button:focus {
    background-color: #DF3E7B;
    text-decoration: none;
}

.form-section {
    margin:210px 0;
}

.form-section label {
    display: block;
    font-size: 14px;
    line-height: 1.6em;
}

.form-section input.text {
    width: 70%;
}

.form-section textarea {
    width: 100%;
    height: 300px;
}

.form-section input.submit {
    font-size: 16px;
    line-height: 1.6em;
}

#login-box .text {
    height: 16px;
    line-height: 16px;
}

#login-box .form-button,
#signup-box .form-button {
    background-color: #4D90FE;
}

#post-view h2 {
    margin-bottom: 0;
}
#post-list {
    padding: 5px 0;
}

.post {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.post h2 {
    margin-bottom: 0;
    font-size: 13px;
}

.post-avatar a {
    display: block;
}

.post-content {
    margin-bottom: 10px;
    padding: 10px 0;
    font-size: 12px;
    line-height: 1.6em;
}
.post-content hr {
    display: none;
}
.post-content p {
    margin: 10px auto;
}
.post-content ol, .post-content ul {
    margin: 20px 30px;
}
.post-content pre {
    display: block;
    padding: 15px;
    border-color: #B3B3B3 #B3B3B3 #B3B3B3 #DDDDDD;
    border-style: dotted dotted dotted solid;
    border-width: 1px 1px 1px 5px;
    background: #fff;
    font-size: 0.9em;
}

.post-meta {
    padding: 5px 0;
    color: #999;
}
.post-meta span {
    margin-right: 10px;
    text-transform: capitalize;
}
.post-meta a:link, 
.post-meta a:visited {
    color: #666;
}
.post-meta a:hover {
    color: #555;
}

.post-foot {
    margin-bottom: 10px;
    padding: 5px 10px;
    height: 20px;
    line-height: 20px;
    background: #ddd;
}
.post-foot .prev {
    float: left;
}
.post-foot .next {
    float: right;
}
.comment-add h3,
.comment-list h3 {
    padding: 10px 0;
}
.comment-add div {
    margin-bottom: 10px;
}
.comment-add div label {
    display: block;
    line-height: 24px;
}
.comment-add div a img {
    vertical-align: -6px;
}
.comment-add textarea {
    margin: 5px 0 0;
    padding: 3px 4px;
    width: 492px;
    height: 106px;
    font-size: 13px;
    line-height: 17px;
}
.comment-add input.text {
    width: 300px;
}
.comment-add p.explain {
    color: #999;
}

.comment-list ol {
    list-style: none;
    padding: 0;
}
.comment-list ol ol {
    margin-left: 70px;
}
.comment {
    margin: 15px 0;
    padding-top: 15px;
    width: 100%;
    border-top: 1px solid #ddd;
}
.comment-avatar {
    float: left;
    height: 60px;
    margin: 0 10px 0 0;
    overflow: hidden;
    position: relative;
    width: 60px;
    border: 1px solid #ddd;
}
.comment-avatar a {
    float: left;
    display: block;
    padding: 5px;
}
.comment-text {
    margin: 0 0 0 72px;
}

#tag-cloud {
    padding: 20px 0;
}
#tag-cloud ul {
    padding: 0;
}
#tag-cloud li {
    display: inline;
    padding: 0 5px;
}
a.tag-0 { color:#aaa; font-size: 0.9em; font-weight: 100; }
a.tag-1 { color:#999; font-size: 0.9em; font-weight: 100; }
a.tag-2 { color:#999; font-size: 1em; font-weight: 200; }
a.tag-3 { color:#888; font-size: 1.1em; font-weight: 300; }
a.tag-4 { color:#777; font-size: 1.2em; font-weight: 400; }
a.tag-5 { color:#666; font-size: 1.3em; font-weight: 500; }
a.tag-6 { color:#555; font-size: 1.4em; font-weight: 600; }
a.tag-7 { color:#333; font-size: 1.6em; font-weight: 700; }
a.tag-8 { color:#000; font-size: 1.8em; font-weight: 800; }
a.tag-9 { color:#06c; font-size: 2em; font-weight: 900; }
a.tag-10 { color:#c60; font-size: 2em; font-weight: 900; }

.archives h3 {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    line-height: 2em;
    font-weight: normal;
}
.archives h3 a:link,
.archives h3 a:visited {
    color: #555;
}
.archives h3 a:hover {
    color: #999;
}

.archives ul, .links ul {
    margin-left: 20px;
}
.archives ul li, .links ul li {
    list-style-type: square;
    line-height: 2em;
}
.archives ul li span {
    float: right;
    color: #999;
}

.links ul li {
    position: relative;
    padding-right: 20px;
}
.links ul li:hover {
    background: #ddd;
}
.links ul li span {
    position: absolute;
    right: 0;
}
.pagination span {
    font-size: 14px;
}
.pagination span.previous {
    float: left;
}
.pagination span.next {
    float: right;
}

/***** footer *****/
#footer {
    padding: 10px 40px 20px;
    color: #999;
    text-align: right;
    font-size: 11px;
}

